@font-face {
    font-family: MyriadBold; 
    src: url(./font/MyriadPro-Bold.otf);
}
@font-face {
    font-family: Myriad; 
    src: url(./font/MyriadPro-Regular.otf);
}
h1, h2, h3, h4, h5, h6, p, a{
    font-family: Myriad;
    text-decoration: none;
    color: rgb(73, 95, 63);
}
b{font-family: MyriadBold;}
h1{font-size: 2em;}
.title{text-align: center;}
.title h1{font-family: MyriadBold;}
.title p{font-size: 0.7em;}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(73,95,63)
}
form{
    width: 400px;
    height: 500px;
    background-color: rgb(243, 253, 228);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.fields{
    width: 95%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.fields div{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

/* ==========Renderização========== */

/* --Cabeçalho-- */

.developer{
    background-color:rgb(243, 253, 228);
    font-size: 0.6em;
    margin-bottom: 2%;
    padding: 1%;
}
.header{
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.logo{
    max-width: 130px;
    max-height: 130px;
}
.company{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.header div{align-content: space;}
.header p{font-size: 0.8em;}

/* --Conteudo-- */

main{
    margin: 0px auto;
    padding-bottom: 5%;
    max-width: 960px;
    background-color: white;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    
}
main h1{
    margin-top: 2%;
    margin-bottom: 2%;
}
.content{
    text-indent: 2em;
    font-size: 1.5em;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    
    padding-bottom: 3%;
}

/* --Rodapé-- */

.footer{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
}
.footer p{font: 1.5em Myriad;}

.signature{
    align-items: center;
    text-align: center;
}
.signature img{width: 150px;}
.signature p{
    width: 9em;
    border-top: solid rgb(73, 95, 63) 0.6mm;
}

/* --Impressão-- */

.off{display: none;}

@media print{
    .printOff{display: none;}
    .developer{margin-top: 2%;}
@page {
    size: A4;
    margin: auto;
}