@font-face {
    font-family: miriad-bold;
    src: url(./font/MyriadPro-Bold.otf);
}
h1, h2, h3, h4, h5, h6, p, form{ /* Foprmatação da fonte */
    font-family: miriad-bold;
    font-size: 14pt;
    color: #495F3F;
}
/* ======================================================= */

header{ /* Quadro Cabeçalho */
    width: 100vw;
    height: 30vh;
    background-image: url("./img/bg-title.png");
    
    display: flex;
    justify-content: space-around;
}
.item-header{ /* Logo e dados da empresa distribuidos */
    margin: 20px;
}
.valor{ /* quadro com Valor total */
    height: 90%;
    align-self: flex-end;
}
footer{ /* Rodapé */
    width: 100vw;
    height: 17vh;
    text-align: center;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
footer img{ /* Assinatura com linha */
    width: 50%;
}
main{
    margin: 20px;
}
main form{
    position: relative;
    display: inline;
    left: 100px;
    line-height: 40px;
}

