@font-face {
    font-family: Myriad; 
    src: url(./font/MyriadPro-Bold.otf);
}
h1, h2, h3, h4, h5, h6, p{
    font-family: Myriad;
    color: rgb(73, 95, 63);
}
h1{
    position: relative;
    font-size: 2em;
}
body{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73,95,63)
}
form{
    position: relative;
    width: 400px;
    height: 500px;
    background-color: rgb(243, 253, 228);
    border-radius: 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#fields{
    height: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fields div{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}